* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.abc{
    display: flex;
} 
.container{
   flex: 1;
}
 
.goals{
  
    font-size: auto;
    min-height: 370px;
}
.scope{
   
    min-height: 100px;
}
.team{
    
    min-height: 370px;
    
}
.member{
    margin-left: 20px;
}
.primary{
    min-height: 200px;
}
.timeline{
    min-height: 500px;
} 
.text-container{
    color: rgb(56, 56, 241);
    font-size: 24px;
    border-bottom: 1px solid black;
}
.section-target{
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: center;
}
.br-bt{
    border-bottom: 2px dotted #56ffaa;
}
.icon{
    font-size: 10px;
    width: 20px;
    margin-left: 25%;
}
.section-scope{
    display: grid;
    grid-template-columns: auto auto;
    margin: 10px;

}
.scope-container{
    margin-left: 10px;
}
.text-section{
    font-weight: bolder;
}
.team-container{
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: center;
}
.number-section{
    width: 30px;
    height: 30px;
    background-color: rgb(173, 130, 238);
    border-radius:50%;
    line-height: 30px;
    text-align: center;
    margin-left: 25%;

}
.target-container{
    margin-left: 10px;
}
